[submodule "Huddle-site-cloning"]
	path = Huddle-site-cloning
	url = git@github.com:juliamendesc/Huddle-site-cloning.git
[submodule "3-column-preview-card-component"]
	path = 3-column-preview-card-component
	url = git@github.com:juliamendesc/3-column-preview-card-component.git
